
form{
    background-image: url("parcel.jpg");
        margin:auto;
        width:50%;
        padding:10px;
        font-family: Arial, Verdana, sans-serif;
}
h1 {
    text-align: center;
}

.text{
        
     width:100%;
     height:30px;    
}
.button{
	width:100px;
    height:40px;
    background-color: #DCDCDC;
}